*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 300px;
    transition: all .3 ease;    
    margin: 0 auto;
    margin-top: 100px;
}
.img_1{
    box-shadow: 0 60px 60px -60px rgba (0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;   /*para que la img se ajuste al tamaño*/
    width: 100%;
}
h1{
    position: absolute;
    z-index: 1;
    color: #bba1c6;
    text-shadow: 0 0 10px black;
    padding: 10px;
}
.img_2{
    position: absolute;
    width: 200px;
    bottom: 17px;
    left: 32px;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;   /*para ocultar la img*/ 
}
.container:hover{
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}
.container::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;    
}
.container:hover::before{
    opacity: 1;    
}
.container:hover .img_2{
    opacity: 1;
    transform: translateY(10%);
}
h2{
    color: #e99d4f;    
    z-index: 1;
}
